.App {
  text-align: center;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

 body{
  background: #141E30; 
  color: white;
  font-family: 'K2D', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}
.btn {
  background-color:RoyalBlue;
  border: none; 
  color: white; 
  padding: 8px 10px; 
  font-size: 10px;
  cursor: pointer; 
}


.btn:hover {
  background-color: rgb(120, 131, 167);
}





